.box-select__list {
  list-style: none;
  padding: 10px 0 26px 0;
  margin: 0;
}

.box-select__item {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
  position: relative;
}

.box-select__radio {
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 10px;
  cursor: pointer;

  &:hover svg {
    fill: #e5e5e5;
  }

  &:active svg {
    fill: #d5d5d5;
  }
}

.box-select__text {
  margin-left: 22px;
  margin-top: -3px;
}

.box-select__radio-check {
  &:checked + .box-select__text::after {
    content: url("../img/circle-black.svg");
    width: 23px;
    height: 23px;
    position: absolute;
    left: 16px;
    top: 19px;
  }

  &:checked:active + .box-select__text::after {
    opacity: 0.3;
  }
}

.box-select__checkbox-wrap {
  margin: -3px 0 10px -1px;

  &:last-child {
    margin-bottom: 0;

    & .box-select__checkbox {
      padding-bottom: 7px;
    }
  }
}

.box-select__checkbox {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  cursor: pointer;

  &:hover svg {
    fill: #e5e5e5;
  }

  &:active svg {
    fill: #d5d5d5;
  }
}

.box-select__checkbox-check {
  &:checked + .box-select__text::after {
    content: url("../img/icon-tick.svg");
    width: 23px;
    height: 23px;
    position: absolute;
    left: 17px;
    top: 17px;
  }

  &:checked:active + .box-select__text::after {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .box-select__list {
    padding: 38px 0 0 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--full {
      padding-top: 23px;
      justify-content: center;
    }
  }

  .box-select__item {
    margin: 0;
    padding: 8px 0 1px 1px;
    width: 100%;
  }

  .box-select__checkbox-wrap {
    width: 40%;
    padding: 9px 0 5px 30px;
  }

  .box-select__radio-check {
    &:checked + .box-select__text::after {
      left: 17px;
      top: 27px;
    }
  }

  .box-select__checkbox-check {
    &:checked + .box-select__text::after {
      right: 73%;
      top: 27px;
      left: auto;
    }
  }
}

@media (min-width: 1200px) {
  .box-select__item {
    padding-left: 4px;
  }

  .box-select__checkbox-wrap {
    padding: 0;
    width: auto;
    flex-grow: 0.025;

    &:last-child {
      padding-bottom: 0;
    }

    &:nth-last-child(2) {
      flex-rgow: 0;
    }
  }

  .box-select__radio-check {
    &:checked + .box-select__text::after {
      left: 21px;
    }
  }

  .box-select__list {
    &--full {
      justify-content: space-between;
      padding-top: 32px;
    }
  }

  .box-select__checkbox-check {
    &:checked + .box-select__text::after {
      right: 78%;
      top: 17px;
    }
  }
}
