.box-select {
  padding-bottom: 26px;
  padding-top: 10px;
}

.box-select__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box-select__item {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
  margin: 3px 0 0 0;
  padding: 0 0 17px 78px;
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.box-select__radio {
  display: block;
  padding-top: 15px;
  padding-bottom: 8px;
}

.box-select__checkbox-wrap {
  margin: -3px 0 10px -1px;
  background-image: url("../img/rect.svg");

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 8px;
  }
}

.box-select__checkbox {
  display: block;
  padding-top: 13px;
  padding-bottom: 17px;
}

@media (min-width: 768px) {
  .box-select__list {
    padding: 38px 0 0 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--full {
      padding-top: 23px;
    }
  }

  .box-select__item {
    margin: 0;
    padding: 0;
    width: 324px;
  }

  .box-select__radio {
    padding: 15px 0 37px 75px;
  }

  .box-select__checkbox {
    padding: 14px 0 48px 85px;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .box-select__checkbox-wrap {
    &:nth-child(2n) {
      padding: 0 90px 0 25px;
      background-position: 30px top;
    }

    &:nth-child(2n-1) {
      padding: 0 30px 0 90px;
      background-position: 94px top;
    }
  }
}

@media (min-width: 1200px) {
  .box-select__checkbox-wrap {
    padding: 0;
    width: auto;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .box-select__checkbox {
    padding-left: 80px;
    padding-bottom: 46px;
  }

  .box-select__radio {
    padding-left: 79px;
  }
}
