.contacts {
  padding-bottom: 25px;
  margin-top: 15px;
}

.contacts__phone {
  padding: 0;
  margin: 10px 0 0 0;
}

.contacts__email {
  padding: 0;
  margin: 0;
}

.contacts__text {
  font-size: 14px;
  line-height: 26px;
  padding: 0 0 0 20px;
}

.contacts__field {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
  border: none;
  height: 58px;
  width: 100%;
  padding: 0 20px 0 21px;
  margin: 7px 0 12px 0;
  background-repeat: no-repeat;
  background-position: 92% center;

  &--phone {
    background-image: url("../img/phone.svg"), linear-gradient(to right, #f2f2f2 80%, #e6e6e6 20%);

    &:hover {
      background-image: url("../img/phone.svg"), linear-gradient(to right, #e5e5e5 100%);
    }
  }

  &--email {
    background-image: url("../img/mail.svg"), linear-gradient(to right, #f2f2f2 80%, #e6e6e6 20%);

    &:hover {
      background-image: url("../img/mail.svg"), linear-gradient(to right, #e5e5e5 100%);
    }
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: 1px solid #e5e5e5;
  }
}

@media (min-width: 768px) {
  .contacts {
    margin-bottom: 6px;
    margin-top: 23px;
  }

  .contacts__phone {
    margin: 14px 0 11px 0;
  }

  .contacts__field {
    background-position: 97% center;

    &--email {
      background-image: url("../img/mail.svg"), linear-gradient(to right, #f2f2f2 91%, #e6e6e6 9%);
    }

    &--phone {
      background-image: url("../img/phone.svg"), linear-gradient(to right, #f2f2f2 91%, #e6e6e6 9%);
    }
  }
}

@media (min-width: 1200px) {
  .contacts {
    margin-top: 20px;
  }

  .contacts__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
  }

  .contacts__field {
    width: 316px;
    background-position: 93% center;

    &--email {
      background-image: url("../img/mail.svg"), linear-gradient(to right, #f2f2f2 82%, #e6e6e6 18%);
    }

    &--phone {
      background-image: url("../img/phone.svg"), linear-gradient(to right, #f2f2f2 82%, #e6e6e6 18%);
    }
  }

  .contacts__text {
    padding: 0;
    margin-right: 10px;

    &--none {
      display: none;
    }
  }

  .contacts__phone {
    margin: 0;
  }

  .contacts__email {
    margin-left: -1px;
  }
}
