.copyright {
  width: 131px;
  height: 35px;
  margin: 0 auto;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  &__text {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  }
}
