.copyright {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  margin-right: 10px;
  align-self: center;
}

.copyright__link-image {
  vertical-align: top;

  &:hover path {
    fill: #81b3d2;
  }

  &:active path {
    fill: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 768px) {
  .copyright {
    justify-content: flex-end;
  }
}
