.emotions {
  margin-top: 26px;
}

.emotions__item {
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
  width: 280px;
  height: 160px;
  white-space: normal;
  background-color: #f2f2f2;
  padding: 16px 20px;
  margin: 7px 0 40px 0;
}

@media (min-width: 768px) {
  .emotions {
    margin: 0;
  }

  .emotions__item {
    width: 100%;
    margin-top: 47px;
  }
}
