.emotions__item {
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
  width: 280px;
  height: 160px;
  white-space: normal;
  background-color: #f2f2f2;
  padding: 16px 20px;
  margin: 7px 20px 40px 20px;
  resize: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: 1px solid #e5e5e5;
  }
}

@media (min-width: 768px) {
  .emotions {
    margin-top: 37px;
  }

  .emotions__item {
    width: 100%;
    margin: 48px 0 40px 0;
  }
}

@media (min-width: 1200px) {
  .emotions {
    margin-top: 39px;
  }
}
