.heading {
  padding: 15px 25px 36px 25px;
  text-align: center;
  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
    margin: 25px 0 0 0;
  }
}
