.hotel-search {
  padding: 30px 20px 45px 20px;
  text-align: center;
  &__name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    margin: 0 0 20px 0;
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
  &__button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
    display: block;
    padding: 15px 0 17px 0;
    margin: 32px 0 0 0;
  }
}
