.infrastructure {
  list-style: none;
  padding: 20px 0 20px 0;
  margin: 0;
}

.infrastructure__item {
  padding: 16px 20px 0 69px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 8% 8%;
  background-size: 38px 38px;

  &--housing {
    background-image: url("../img/icon-house.svg");
  }

  &--souvenirs {
    background-image: url("../img/icon-gift.svg");
  }

  &--food {
    background-image: url("../img/icon-burger.svg");
  }
}
