.page-header__logo {
  display: block;
  width: 102px;
  margin: 0 auto -32px auto;
}

.page-header__logo-image {
  vertical-align: top;
}

@media (min-width: 768px) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -51px;
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    margin-left: -93px;
  }
}
