.page-main {
  margin-top: 3px;
}

.page-main__topic {
  padding-top: 3px;
}

.page-main__welcome {
  background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 51%, center top;
  background-size: 88% auto, auto 389px;
  height: 389px;

  &::before {
    content: "";
    display: block;
    height: 389px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
  }
}

.page-main__maps {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  height: 350px;
}

.page-main__br {
  display: none;
}

@media (min-width: 768px) {
  .page-main {
    margin-top: 0;
  }

  .page-main__welcome {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: auto auto, auto 518px;
    background-position: center 45%, center top;
    height: 518px;

    &::before {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      height: 518px;
    }
  }

  .page-main__maps {
    background-image: url("../img/bg-map-tablet@1x.jpg");
  }

  .page-main__br {
    display: block;
  }
}

@media (min-width: 1200px) {
  .page-main__welcome {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@1x.jpg");

    &::before {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  .page-main__maps {
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}
