.page-photo__item {
  padding: 22px 20px 17px 20px;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 24px;
}

.page-photo__image-name {
  font-weight: 700;
  color: #000000;
  margin: 9px 0 0 0;
}

.page-photo__image-author {
  text-transform: none;
  margin: 0;
}

.page-photo__like {
  border: none;
  width: 70px;
  padding: 12px 0 0 34px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: transparent;
}

.page-photo__image-rating {
  padding-top: 3px;
}

.page-photo__box-video {
  border-top: 1px solid #e5e5e5;
  padding-bottom: 37px;
}
