.page-main {
  margin-top: 3px;
}

.page-main__topic {
  padding-top: 3px;
}

.page-main__welcome {
  background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 51%, center top;
  background-size: 88% auto, auto 389px;
  height: 389px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@2x.jpg");
  }

  &::before {
    content: "";
    display: block;
    height: 389px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
  }
}

.page-main__maps {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  height: 350px;
  position: relative;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 320px;
  }
}

.page-main__maps-marker {
  position: absolute;
  top: 161px;
  left: 146px;
}

.page-main__br {
  display: none;
}

@media (min-width: 768px) {
  .page-main {
    margin-top: 0;
  }

  .page-main__welcome {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: auto auto, auto 517px;
    background-position: center 45%, center top;
    height: 518px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@2x.jpg");
      background-size: auto auto, 768px auto;
    }

    &::before {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      height: 518px;
    }
  }

  .page-main__maps {
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 768px;
    }
  }

  .page-main__maps-marker {
    top: 164px;
    left: 370px;
  }

  .page-main__br {
    display: block;
  }
}

@media (min-width: 1200px) {
  .page-main__welcome {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: auto, 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@2x.jpg");
      background-size: auto auto, 1200px auto;
    }

    &::before {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  .page-main__maps {
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 1200px;
    }
  }

  .page-main__maps-marker {
    top: 162px;
    left: 586px;
  }
}
