.page-footer {
  background-color: rgba(254, 254, 254, 0.9);
  padding: 40px 20px 20px 20px;
}

.page-footer__hash {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  text-align: center;
}

.page-footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .page-footer {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .page-footer__hash {
    width: 33.333333%;
  }

  .page-footer__social-list {
    width: 33.333333%;
  }

  .page-footer__copyright {
    width: 33.333333%;
  }
}
