.page-photo {
  margin-top: 3px;
  margin-bottom: 4px;
}

.page-photo__item {
  padding: 22px 20px 17px 20px;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 24px;
}

.page-photo__list {
  padding-top: 17px;
}

.page-photo__image {
  vertical-align: top;
}

.page-photo__image-link {
  vertical-align: top;
}

.page-photo__image-sign {
  padding-top: 7px;
}

.page-photo__image-name {
  font-weight: 700;
  color: #000000;
  margin: 9px 0 0 0;
}

.page-photo__image-author {
  text-transform: none;
  margin: 0;
}

.page-photo__like {
  border: none;
  width: 70px;
  padding: 12px 0 0 37px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
  text-align: left;
}

.page-photo__image-rating {
  padding-top: 3px;
}

.page-photo__box-video {
  border-top: 1px solid #e5e5e5;
  padding-bottom: 35px;
}

@media (min-width: 768px) {
  .page-photo {
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-photo__list {
    padding: 19px 60px;
    display: flex;
    flex-wrap: wrap;
  }

  .page-photo__item {
    padding: 0;
    border: none;
    width: 50%;

    &--full {
      width: 100%;
    }
  }

  .page-photo__image-sign {
    background-color: #f2f2f2;
    padding: 16px 14px 16px 20px;
    display: flex;
    justify-content: space-between;

    &--gray {
      background-color: #eaeaea;
    }
  }

  .page-photo__image-name {
    margin: 0;
  }

  .page-photo__like {
    padding-left: 32px;
    padding-top: 0;
  }

  .page-photo__box-video {
    border-top: none;
    padding: 0 60px 40px 60px;
  }
}

@media (min-width: 1200px) {
  .page-photo__topic {
    padding-top: 86px;
  }

  .page-photo__list {
    padding: 22px 0;
  }

  .page-photo__item {
    width: 33.333333%;

    &--full {
      width: 100%;
    }
  }

  .page-photo__image-sign {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -80px;
  }

  .page-photo__image-name,
  .page-photo__image-author,
  .page-photo__like {
    color: #ffffff;
  }

  .page-photo__box-video {
    padding: 0 200px 85px 200px;
  }
}
