.picture-title {
  background-color: #4b616f;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 50px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }

  &::after {
    content: "";
    display: block;
    width: 320px;
    height: 27px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    margin-top: 41px;
  }
}

.picture-title__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .picture-title {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    height: 290px;
    padding-top: 94px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 768px auto;
    }

    &::after {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      width: 100%;
      height: 60px;
      margin-top: 57px;
    }
  }

  .picture-title__img {
    width: 460px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .picture-title {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    padding-top: 100px;
    height: 301px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 1200px auto;
    }

    &::after {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
      margin-top: 62px;
    }
  }
}
