.presentation__control-panel {
  margin: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 23px;
  background-color: #f2f2f2;
}

.presentation__scroll-panel {
  height: 45px;
  padding: 12px 21px 12px 20px;
  position: absolute;
  top: -45px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.presentation__scroll {
  width: 235px;
}

.presentation__button {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;

  &--repeat {
    width: 18px;
    background-image: url("../img/icon-video-replay.svg");
  }

  &--cc {
    width: 32px;
    background-image: url("../img/icon-video-subtitles.svg");
    margin-left: 128px;
  }

  &--maximize {
    background-image: url("../img/icon-video-fullscreen.svg");
    margin-left: 26px;
  }
}

.presentation__image {
  vertical-align: top;
}

@media (min-width: 768px) {
  .presentation {
    padding-top: 37px;
  }

  .presentation__control-panel {
    margin: -92px 0 0 0;
    padding: 37px 40px 29px 35px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .presentation__scroll-panel {
    position: relative;
    top: 0;
    padding: 0;
    height: auto;
    margin-left: 40px;
    margin-right: 36px;
    background: none;
  }

  .presentation__scroll {
    width: 390px;
  }

  .presentation__button {
    &--cc {
      margin: 0;
    }
    
    &--maximize {
      margin-left: 29px;
    }
  }
}

@media (min-width: 1200px) {

  .presentation__scroll {
    width: 542px;
  }

  .presentation__control-panel {
    padding: 34px 43px 30px 34px;
  }

  .presentation__button {
    &--cc {
    }
  }
}
