.presentation__control-panel {
  margin: -46px 20px 0;
}

.presentation__scroll-panel {
  height: 46px;
  padding: 12px 20px;
}

.presentation__scroll {
  width: 235px;
}

.presentation__button-panel {
  height: 66px;
  background-color: #f2f2f2;
  padding: 23px 20px 20px 24px;
}

.presentation__button {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;

  &--repeat {
    width: 18px;
    background-image: url("../img/icon-video-replay.svg");
  }

  &--cc {
    width: 32px;
    background-image: url("../img/icon-video-subtitles.svg");
    margin-left: 128px;
  }

  &--maximize {
    background-image: url("../img/icon-video-fullscreen.svg");
    margin-left: 26px;
  }
}

.presentation__image {
  vertical-align: top;
}
