.reason {
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 60px;
    background-color: #81b3d2;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    margin-top: -5px;
    position: absolute;
  }
}

.reason__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reason__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;

  &--black {
    color: #000000;
    margin-bottom: 12px;
  }
}

.reason__text {
  font-size: 14px;
  line-height: 21px;
  margin: 10px 0 15px 0;

  &--margin {
    margin: 10px 0 15px 0;
  }
}

@media (min-width: 768px) {
  .reason {
    &::before {
      display: none;
    }
  }

  .reason__item {
    &--wide {
      width: 100%;
    }

    &--narrow {
      width: 33.333333%;
    }
  }

  .reason__list {
    display: flex;
    flex-wrap: wrap;
  }

  .reason__title {
    font-size: 21px;

    &--black {
      margin-bottom: 20px;
    }

    &--narrow {
      padding: 0 7px;
    }
  }

  .reason__text {
    margin: 10px 0 20px 0;

    &--narrow-gray {
      margin: 10px 15px 20px 15px;
    }
  }
}

@media (min-width: 1200px) {
  .reason__title {
    max-width: 155px;
    margin: 0 auto;

    &--black {
      margin-bottom: 20px;
    }

    &--narrow {
      padding: 0 2px;
    }
  }

  .reason__text {
    &--narrow-blue {
      margin: 10px 25px 20px 25px;
    }

    &--narrow-gray {
      margin: 10px 25px 20px 25px;
    }
  }
}
