.social-list {
  padding: 35px 65px;
  display: flex;
  justify-content: space-between;

  &__item {
    width: 46px;
    height: 48px;
  }

  &__link {
    display: block;
    background-color: #81b3d2;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 48px;

    &--twitter {
      background-image: url("../img/icon-twitter.svg");
    }

    &--facebook {
      background-image: url("../img/icon-facebook.svg");
    }

    &--youtube {
      background-image: url("../img/icon-youtube.svg");
    }
  }
}
