.topic-page {
  text-align: center;
  padding-bottom: 15px;
  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    padding: 40px 27px 28px 27px;
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0 25px 8px 25px;
    &--line-height {
      line-height: 26px;
    }
  }
}
