.topic-page {
  text-align: center;
}

.topic-page__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 38px 27px 28px 27px;
}

.topic-page__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0 20px 8px 20px;

  &--line-height {
    line-height: 26px;
  }
}

@media (min-width: 768px) {
  .topic-page {
    padding: 50px;
  }

  .topic-page__title {
    font-size: 30px;
    line-height: 26px;
    padding-top: 25px;
    padding-bottom: 30px;

    &--small {
      font-size: 21px;
      max-width: 700px;
      padding: 0 0 28px 0;
      margin: 0 auto;
      width: 520px;
    }
  }

  .topic-page__text {
    width: 485px;
    margin: 0 auto;
    padding-bottom: 0;

    &--line-height {
      width: 100%;
    }
  }
}
